{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", "transform-react-display-name"],
    ["add-module-exports"],
    "transform-class-properties",
    ["transform-decorators-legacy"],
    "react-hot-loader/babel"
	]
}
