<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>WiAGate</title>
    <link rel="stylesheet" type="text/css" href={{assets.styles.main}}>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://getbootstrap.com/assets/brand/bootstrap-social.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div id="app">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling
            extra attention to featured content or information.</p>
          <hr class="m-y-md">
          <p>It uses utility classes for typography and spacing to space content out within the
            larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal"
               data-target="#modal">
              Learn more
            </a>
          </p>
        </div>
      </div>

      <div class="container">
        <h2>Glyphicons (not available for Bootstrap 4!)</h2>
        <div class="row col-items">
          <div class="col-md-4 col-item">
            <span class="glyphicon glyphicon-headphones"></span>
            <span class="text">It.</span>
          </div>
          <div class="col-md-4 col-item">
            <span class="glyphicon glyphicon-glass"></span>
            <span class="text">Just.</span>
          </div>
          <div class="col-md-4 col-item">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="text">Works.</span>
          </div>
        </div>
      </div>

      <div class="container">
        <h2>Font Awesome using the font-awesome-loader</h2>
        <div class="row col-items">
          <div class="col-md-4 col-item">
            <span class="fa fa-headphones"></span>
            <span class="text">It.</span>
          </div>
          <div class="col-md-4 col-item">
            <span class="fa fa-glass"></span>
            <span class="text">Just.</span>
          </div>
          <div class="col-md-4 col-item">
            <span class="fa fa-thumbs-up"></span>
            <span class="text">Works.</span>
          </div>
        </div>
      </div>

      <div class="container">
        <h2>Bootstrap 4 card component</h2>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>

      <div class="container">
        <h2>Bootstrap 4 card columns</h2>
        <div class="card-columns">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Card title that wraps to a new line</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card card-block">
            <blockquote class="card-blockquote">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
              <footer>
                <small class="text-muted">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This card has supporting text below as a natural lead-in to
                additional content.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
          <div class="card card-block card-inverse card-primary text-xs-center">
            <blockquote class="card-blockquote">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
              <footer>
                <small>
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>
          <div class="card card-block text-xs-center">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to
              additional content.</p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
          <div class="card">
            <img class="card-img" data-src="..." alt="Card image">
          </div>
          <div class="card card-block text-xs-right">
            <blockquote class="card-blockquote">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
              <footer>
                <small class="text-muted">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>
          <div class="card card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content than the first to
              show that equal height action.</p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>

      <div id="modal" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">Learned more!</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">
                Ok!
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
-->
<script type="text/javascript" src="{{assets.javascript.main}}" ></script>
<script type="text/javascript" src="{{assets.javascript.vendor}}" ></script>

</body>
</html>
